body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #f79800;
    border-radius: 15px;
    padding: 30px 50px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.button {
    display: block;
    width: 200px;
    padding: 15px 20px;
    margin: 10px auto;
    background-color: white;
    color: #0d0d0d;
    border: 2px solid #0a0a0a;
    border-radius: 25px;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
}

.button:hover {
    background-color: #080808;
    color: white;
}
